*.sh linguist-vendored
scripts/* linguist-vendored
debian/* linguist-vendored
build/* linguist-vendored
configure linguist-vendored
configure.ac linguist-vendored
aclocal.m4 linguist-vendored
*.am linguist-vendored
*.in linguist-vendored
.travis.yml linguist-vendored
tests/Makefile linguist-vendored
