#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')

%:
	dh $@ 

override_dh_auto_build:
	$(MAKE) VERSION="$(DEBVERS)" all

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/naskpass install
